@import "../../core/mixins";

:host {
	@include fullscreen;
}

md-progress-spinner {
	@include spinner-size();
}

md-card {
  min-height: 278px;
  cursor: pointer;
}

md-toolbar {
  padding-top: 10px;
}

.mdl-card__supporting-text {
  padding: 5px 0 0 0;
}

.error {
  color:red;
}
